//Fonts

$fuente-principal: 'PT Sans', Sans-serif;

//colores
$Negro: #000;
$Blanco: #fff;
$verde-fuerte: #7EAA92;
$verde-claro: #C8E4B2;

//Tamaños
$phone: 480px;
$tablet: 768px;
$desktop: 992px;
$desktopXL: 1200px;